*{
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans SC';
	font-size: 16px;
}
.top{
	width: 100%;
	height: 100px;
	background: white;
	box-shadow: 0px 0px 10px 10px #00000033;
	position: fixed;
	top:0;
	z-index: 100;
}
.top img{
	height: 60px;
	width: auto;
	display: inline;
	padding: 20px;
	margin-left: 10%;
	float: left;
}
.top ul{
	list-style: none;
	float: right;
	width: auto;
	margin-right: 2%;
}
.top ul li{
	float: left;
	height: 100px;
	width: 20%;
}
.top ul li a{
	display: inline-block;
	border-radius: 5px;
	font-size: 20px;
	line-height: 40px;
	margin-top: 30px;
	padding: 0 20px;
	font-weight: bold;
	color:black;
	text-decoration: none;
	text-align: center;
}
.top ul li a.selected{
	background: #3b863e;
	color: white;
}
.banner{
	height: 100vh;
	width: 100%;
	background: #3b863e; 
	background-size: 100px 100px;
	background-image: linear-gradient(45deg, #00000008 25%, transparent 25%, transparent),
				   linear-gradient(-45deg, #00000008 25%, transparent 25%, transparent),
				   linear-gradient(45deg, transparent 75%, #00000008 75%),
				   linear-gradient(-45deg, transparent 75%, #00000008 75%);
	overflow: hidden;
}
.banner h1{
	color:white;
	padding-top: 160px;
	margin-left: 10%;
	font-family: "Kanit";
	font-size: 100px;
	line-height: 80px;
}
.banner h2{
	color:white;
	margin-left: 10%;
	font-family: "Noto Serif JP";
	font-size: 60px;
	font-weight: 1000;
}
.banner #short_intro{
	color: #ffffffcc;
	font-size: 20px;
	margin-left: 10%;
	width: 26%;
}
.banner ul{
	list-style: none;
	float: right;
	margin-right: 10%;
	position: relative;
	bottom: 0;
	
}
.banner a{
	display: block;
	margin-left: 10%;
	color: #3b863e;
	background: white;
	padding: 0 20px;
	font-size: 30px;
	text-decoration: none;
	font-weight: bold;
	line-height: 50px;
	height: 50px;
	margin-top: 20px;
	width: 180px;
	border-radius: 6px;
	position: absolute;
	font-family: "Noto Serif SC";
	z-index: 30;
}
.banner a::after{
	content: " >";
	font-size: 36px;
	font-family: consolas;
	line-height: 50px;
	position: relative;
	top: -2.5px;
}
.banner ul li{
	display: inline-block;
	margin-right: 5px;
}
.banner ul li:nth-child(1){
	padding-left: 110px;
}
.banner ul li img{
	width: 100px;
}
.game{
	height: auto;
	width: 100%;
	background: white;
	z-index: -1;
	padding-top: 100px;
	padding-bottom: 100px;
}
.game .rightpart{
	float: right;
	width: auto;
	margin-right: 5%;
}
.game .rightpart h1{
	color:black;
	padding-top: 60px;
	font-family: "Noto Serif JP";
	font-size: 100px;
	line-height: 100px;
}
.game .rightpart h2{
	float: right;
	font-size: 25px;
	line-height: 50px;
	margin-top: 20px;
	margin-right: 100px;
	line-height: 30px;
	font-family: "Noto Serif SC";
}
.game .leftpart{
	margin-left: 10%;
	margin-top: 60px;
	width: 500px;
}
.game .leftpart .MainTitle h3{
	margin-top: 10px;
	display: inline-block;
	font-size: 30px;
	padding: 5px 50px;
	font-weight: bold;
	background: #fa1754;
	background-size: 50px 50px;
	background-image: linear-gradient(45deg, #00000010 25%, transparent 25%, transparent),
				   linear-gradient(-45deg, #00000010 25%, transparent 25%, transparent),
				   linear-gradient(45deg, transparent 75%, #00000010 75%),
				   linear-gradient(-45deg, transparent 75%, #00000010 75%);
	border-radius: 5px;
	line-height: 50px;
	height: 50px;
	width: auto;
	color: white;
}
.game .leftpart .Title1 h3{
	font-family: 'KaiTi';
	margin-top: 10px;
	display: inline-block;
	font-size: 30px;
	padding: 5px 50px;
	font-weight: bold;
	background: #f3a412;
	background-size: 50px 50px;
	background-image: linear-gradient(45deg, #00000010 25%, transparent 25%, transparent),
				   linear-gradient(-45deg, #00000010 25%, transparent 25%, transparent),
				   linear-gradient(45deg, transparent 75%, #00000010 75%),
				   linear-gradient(-45deg, transparent 75%, #00000010 75%);
	border-radius: 5px;
	line-height: 50px;
	height: 50px;
	width: auto;
	color: white;
}
.game .leftpart .Title2 h3{
	font-family: 'KaiTi';
	margin-top: 10px;
	display: inline-block;
	font-size: 30px;
	padding: 5px 50px;
	font-weight: bold;
	background: #ff3e0e;
	background-size: 50px 50px;
	background-image: linear-gradient(45deg, #00000010 25%, transparent 25%, transparent),
				   linear-gradient(-45deg, #00000010 25%, transparent 25%, transparent),
				   linear-gradient(45deg, transparent 75%, #00000010 75%),
				   linear-gradient(-45deg, transparent 75%, #00000010 75%);
	border-radius: 5px;
	line-height: 50px;
	height: 50px;
	width: auto;
	color: white;
}
.game .leftpart .Title3 h3{
	font-family: 'KaiTi';
	margin-top: 10px;
	display: inline-block;
	font-size: 30px;
	padding: 5px 50px;
	font-weight: bold;
	background: #0e62ff;
	background-size: 50px 50px;
	background-image: linear-gradient(45deg, #00000010 25%, transparent 25%, transparent),
				   linear-gradient(-45deg, #00000010 25%, transparent 25%, transparent),
				   linear-gradient(45deg, transparent 75%, #00000010 75%),
				   linear-gradient(-45deg, transparent 75%, #00000010 75%);
	border-radius: 5px;
	line-height: 50px;
	height: 50px;
	width: auto;
	color: white;
}
.game .leftpart>span{
	font-size: 20px;
	line-height: 30px;
	font-weight: 500;
	margin-left: 350px;
	font-family: "Noto Serif SC";
}
.game .leftpart ul{
	margin-top: 20px;
}

.game .leftpart ul,.game .leftpart ul ol{
	list-style: none;
	
}
.game .leftpart ul>li{
	height: 30px;
	width: 400px;
	padding: 5px;
	padding-left: 20px;
	background: linear-gradient(90deg,#3b863e,60%,transparent);
	margin-bottom: 10px;
	border-radius: 5px;
}
.game .leftpart ul ol li{
	float: left;
}
.game .leftpart ul ol li span{
	font-family: 'simhei';
	font-weight: bold;
	display: inline-block;
	width: 200px;
	text-align: right;
}
.game .leftpart ul ol li p{
	color: white;
	font-weight: 600;
}
.game .leftpart ul ol li span,.game .leftpart ul ol li p{
	font-size: 20px;
	line-height: 30px;
}
.game .leftpart ul ol li{
	width: 200px;
}
.game .rightpart a{
	font-size: 30px;
	padding: 5px 50px;
	font-weight: bold;
	background: #3b863e;
	background-size: 50px 50px;
	background-image: linear-gradient(45deg, #00000010 25%, transparent 25%, transparent),
				   linear-gradient(-45deg, #00000010 25%, transparent 25%, transparent),
				   linear-gradient(45deg, transparent 75%, #00000010 75%),
				   linear-gradient(-45deg, transparent 75%, #00000010 75%);
	border-radius: 5px;
	line-height: 50px;
	height: 50px;
	width: auto;
	color: white;
	display: block;
	text-decoration: none;
	margin-top: 150px;
	text-align: right;
	margin-right: 70px;
}
.game .rightpart a span{
	font-family: consolas;
}

.mate{
	height: auto;
	width: 100%;
	background: #eee;
}
.mate h1{
	padding-top: 50px;
	margin-left: 10%;
	font-size: 50px;
}
.mate h1::before{
	content: "▌";
	color:#c52922;
}
.mate h1 span{
	font-family: "Noto Serif JP";
	font-size: 40px;
	color:#c52922;
	padding-left: 10px;
}
.mate ul{
	list-style: none;
	margin-left: 10%;
	padding-bottom: 100px;
}
.mate ul ol{
	list-style: none;
	margin-left: 3%;
	margin-top: 5px;
}
.mate ul>li{
	margin-left: 5%;
	margin-top: 20px;
}
.mate ul>li>img{
	height: 25px;
	box-shadow: 0px 0px 0px 3px #c52922;
}
.mate ul>li span{
	font-size:30px;
	margin-left: 5px;
	font-weight: bold;
	color:#c52922;
	font-family: "Noto Serif SC";
}
.mate ul ol li{
	font-size: 20px;
	display: inline;
	margin-right: 50px;
}
.rule{
	height: auto;
	width: 100%;
	background: #fff;
}
.rule>h1{
	color: #22519dff;
	font-size: 60px;
	text-align: center;
	padding-top: 50px;
}
.rule>h2{
	text-align: center;
	font-family: "Noto Serif JP";
}
.rule>h3{
	text-align: center;
	font-family: "Noto Serif SC";
	font-weight: 100;
	font-size: 15px;
}
strong{
	
	font-size: 18px;
	background: #eee;
	padding: 5px 5%;
	display: inline-block;
	width: 50%;
	height: 30px;
	line-height: 30px;
	border-radius: 20px;
	font-family: "Noto Serif SC";
	margin: 20px 20%;
	position: relative;
	margin-top: 50px;
}
strong>p{
	float: left;
	position: absolute;
	left: 5%;
	z-index: 10;
}
strong>span{
	clear: both;
	display: inline-block;
	height: 14px;
	width: 14px;
	background: #22519d;
	border-radius: 7px;
	position: absolute;
	margin-top: 8px;
	left: 50%;
	z-index: 1;
}
.rule>p{
	font-size: 16px;
	width: 50%;
	margin-left: 25%;
	text-indent: 2em;
	line-height: 25px;
	margin-bottom: 3px;
}
.rule>ol{
	margin-left: 30%;
}
.rule ol p{
	font-size: 16px;
	width: 64%;
	line-height: 25px;
}
.rule .clear{
	width: 100%;
	height: 100px;
}
.contact{
	height: 520px;
	width: 100%;
	background: #eee;
	overflow: hidden;
}
.contact h1{
	font-size: 60px;
	margin-left: 10%;
	padding-top: 40px;
}
.contact h1::before{
	content: "▌";
	color: #881c21;
}
.contact p{
	font-size: 18px;
	margin-left: 10%;
	margin-top: 10px;
}
.contact img{
	display: inline-block;
	height: 100px;
	margin-top: 160px;
	float: right;
}
.contact img:hover{
	margin-top: 150px;
}
.contact img#firstimg{
	margin-right: 1%;
}
.footer{
	height: 150px;
	width: 100%;
	background: #383838;
	padding-top: 50px;
	position: relative;
}
.footer p{
	color: #999;
	font-weight: 100;
	margin-left: 10%;
}
.footer img{
	position: absolute;
	top: 50px;
	right: 10%;
	height: 80px;
	opacity: 0.4;
}
.target-fix{
	position: relative;
	top: -100px;
	display: block;
	height: 0;
	overflow: hidden;
}
